@import 'bootstrap/bootstrap';


@font-face {
	font-family: AnakAnak;
	src: url("../anakanak.ttf");
}


h1 {
	@extend .text-center;
	@extend .display-3;
	margin-top: 20px;
	margin-bottom: 0;
	line-height: 100%;
	font-family: AnakAnak;
}


.nav-item {
	font-family: AnakAnak;
	font-size: 2em;
	margin-right: 40px;
}
