{% extends 'base.html' %}

{% block title %}About Us{% endblock %}


{% block content %}
	<h1>About Micdorbeyes</h1>
	<p>Micdorbeyes is an amazing resturaunt. It's better than McDonald's.</p>
{% endblock %}
