{#}{% macro fullblock(title, subtitle, pagename) %}
	<div class="container-fluid bg-light border-bottom py-5">
		<h1 class="text-center">{{ title }}</h1>
		<p class="text-center">
			{{ subtitle }}<br/>
			<a href="{{ url_for('page.'+pagename) }}">
				Learn more
			</a>
		</p>
	</div>
{% endmacro %}#}
