{% extends 'base.html' %}

{% block title %}Menu{% endblock %}


{% block content %}
	<h1>Menu</h1>
	{#<pre>{{ menu_data|pprint }}</pre>#}
	<ul>
		{% for category in menu_data['categories'] %}
			<li>
				{{ category['title'] }}
				<ul>
					{% for item in menu_data['items'] %}
						{% if item['category'] == category['name'] %}
							<li>{{ item['title'] }} (${{ '%.2f' % item['price'] }})</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
