{% set navlinks = {
	'Menu': 'page.menu',
	'About Us': 'page.about',
} %}

{% set current_page = request.path[6:] %}



<nav class="navbar navbar-expand-lg navbar-dark" style="background: #C84520; padding: 0;">
	<!-- Navbar brand -->
	<a class="navbar-brand" href="{{ url_for('page.home') }}" style="margin: 0; padding: 0;">
		<img src="{{ url_for('static', filename='micdorbeyes-logo.png') }}" height="145" style="margin: 0;" />
	</a>

	<!-- Navbar toggle button for small viewports -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navwrapper" aria-controls="navwrapper" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- The main part, with the links and menus and stuff -->
	<div class="collapse navbar-collapse" id="navwrapper">
		<ul class="navbar-nav mr-auto">
			<!-- navlinks -->
			{% for name, view in navlinks.items() %}
				<li class="nav-item">
					<a class="nav-link{{ ' active' if url == current_page }}" href="{{ url_for(view) }}">
						{{ name }}
					</a>
				</li>
			{% endfor %}
			<!-- navmenus -->
			{#{% for name, (icon, items) in navmenus.items() %}
				<li class="nav-item dropdown{{ ' active' if current_page in items.values() }}">
					<a class="nav-link dropdown-toggle" href="#" id="navdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-{{ icon }}"></i>
						{{ name }}
					</a>
					<div class="dropdown-menu" aria-labelledby="navdropdown">
						{% for name, (icon, url) in items.items() %}
							<a class="dropdown-item" href="/page/{{ url }}">
								<i class="fas fa-{{ icon }}"></i>
								{{ name }}
							</a>
						{% endfor %}
					</div>
				</li>
			{% endfor %}#}
		</ul>
	<div>
</nav>
